<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GEMINI_API_KEY</key>
	<string>AIzaSyC_wS7ixynFbIKFl69ttk792wcCCZQMbQY</string>
	<key>NYLAS_GRANT_ID</key>
	<string>1c4e4aba-de43-4d14-8ef9-7b1b55b2dcc5</string>
	<key>NYLAS_API_KEY</key>
	<string>nyk_v0_znyMEHcfEJdsQCUwDWeHjjedQX7vqNDCo1lKr5lpDkpaL50GjOImQoDTLE59woCm</string>
</dict>
</plist>
